
.App {
  text-align: center;
  width: 700px;
  height: 700px;
  background-color: #90fdff;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #333;
}
input{
  height: 20px;
  padding: 5px 20px;
}
button{
  margin: 20px 0;
}
ul{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
li{
  padding: 5px 20px;
  width: 350px;
  background-color: #408fd4;
  list-style-type: none;
  text-align: start;
  border-bottom: 2px solid #0d0c0c;
  margin-top: 10px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: .7px;
}
button{
  border: none;
  letter-spacing: 2px;
  padding: 10px 30px;
  color: #2f229d;
  font-size: 16px;
  background-color: #68bdfa;
  transition: .5s;
}
button:hover{
  color: #21046b;
  background-color: #333;
}